.bg-mauve-600 {
--tw-bg-opacity: 1;
background-color: rgba(127, 94, 125, 1);
}
.text-mauve-600 {
--tw-text-opacity: 1;
color: rgb(127 94 125 / var(--tw-text-opacity, 1));
}

.hover\:bg-mauve-700:hover {
--tw-bg-opacity: 1;
background-color: rgb(127 94 125 / var(--tw-bg-opacity, 1));
}
.bg-onyx-500 {
--tw-bg-opacity: 1;
background-color: rgba(0, 0, 0, 1);
}

.bg-mandrin-500 {
--tw-bg-opacity: 1;
background-color: rgba(192, 122, 112, 1);
}

.hover\:bg-mandrin-600:hover {
--tw-bg-opacity: 1;
background-color: rgb(192 122 112 / var(--tw-bg-opacity, 1));
}

.bg-brown-600 {
--tw-bg-opacity: 1;
background-color: rgba(136, 75, 65, 1);
}

.hover\.bg-brown-600 {
--tw-bg-opacity: 1;
background-color: rgb(136 75 65 / var(--tw-bg-opacity, 1));
}

.max-w-xl60 {
max-width: 67rem;
}
